@font-face {
  font-family: "KoHo Bold";
  src: url("./assets/fonts/KoHo-Bold.ttf");
}

@font-face {
  font-family: "KoHo";
  src: url("./assets/fonts/KoHo-Regular.ttf");
}

:root {
  --color-background: #222;
  --color-text: var(--color-white);
  --color-white: #fff;
  --color-red: #fa5555;
  --color-pink: #FF8989;
  --color-pink-secondary: #FFE4E1;
  --font-body: "KoHo";
  --font-body-bold: "KoHo Bold";
  --animation-recording: flickerAnimation 1s infinite;
}

/* @media (prefers-color-scheme: light) {
  :root {
    --color-text: #545454;
    --color-background: #fff;
  }
} */

* {
  box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	position: relative;
	width: 100%;
  overflow-x: hidden;
  line-height: 1.2;
  font-size: 8px;
}

body {
	background-color: var(--color-background);
  color: var(--color-text);
	font-family: -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-body-bold);
  font-weight: 500;
}

h1 {
  font-size: 100px;
}

h2 {
  font-size: 40px;
  text-shadow: -1px 2px var(--color-pink);
}

h3 {
  font-size: 30px;
  text-shadow: -1px 2px var(--color-pink);
}

h4 {
  font-size: 26px;
}

h5 {
  font-size: 22px;
}

h6 {
  font-size: 18px;
}

p {
  font-size: 26px;
  font-family: var(--font-body);
}

p.bold {
  font-family: var(--font-body-bold);
}

a { 
  font-family: var(--font-body-bold);
  color: var(--color-pink-secondary);
  text-decoration-color: var(--color-pink);
  cursor: pointer;
  display: inline-block;
  font-size: 26px;
}
a:hover {
  color: var(--color-pink);
  text-decoration-color: var(--color-pink);
}

@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}